
body {
  background-color: #ffc9ea;
}

h5 {
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.card{
  box-shadow: 0 4px 12px rgba(180, 49, 49, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
 
}

.btn-primary {
  background-color: #007bff;
  border: none;
  font-weight: 600;
}

footer {
  background-color: #f1f1f1;
  padding: 15px;
  font-size: 0.9rem;
}
.card-img-top{
  max-height: 220px;
    object-fit: cover;
}
